.App {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.spin {
  animation: spin-animation infinite 14s linear;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: calc(50% - 366px/2);
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
